header{
    height: auto;
    width: 100%;
    background-image: url("/MercadinhoDaSoft/imgs/header-feira.jpg");
    color: rgb(255, 255, 255);
}
header h1{
    margin: 0 auto;
    text-align: center;
    padding-top: 7px;
}
nav{
    text-align: center;
    background-color: transparent;
}
nav a{
    width: 200px;
    display: inline-block;
    margin: 8px auto;
}
body{
    margin: 0px;
}
section{
    min-height: 500px;
}
#tituloIndex{
    text-align: center;
    color: coral;
    margin: 50px auto;
}
#frmExibirImpostos, #frmExibirProdutos, #frmCadastroImpostos, #frmCadastroProdutos, #frmVendaProduto{
    width: 500px;
    margin: 20px auto;
}

#modal{
    display: none;
}